:root{
    --color-principal: aqua ;
    --color-secundario: white;
    --font-personalizado: 30px;
}

nav{
    padding: 10px 20px;
    /*
        los valores se leen en el sentido de las agujas del reloj
        incidando desde las 12 -> 10px 20px 10px 20px
        tambien se puede hacer asi: 
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
    */
    /*
        el "display" mameja como se muestran los elementos o si se
        muestran
    */
    display: flex;
    /*Maneja el eje principal del elemento*/
    justify-content: space-between;
    /*Maneja el eje secundario del elemento*/
    align-items: center;
    /*degradado*/
    background: linear-gradient(90deg, var(--color-principal),blue);
}

nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: var(--font-personalizado);
}
/*
    Que son las clases?
    Las clases se utilizan para darle estilos a un grupo de elementos
*/

.hover:hover {
    font-weight: 600;
    cursor: pointer;
}

#contacto{
    background-color: var(--color-secundario);
    color: var(--color-principal);
    /*
        NOTA: Los colores tambien se pueden poner en hexadecimal
        rgb, rgba, hsl, hsla
    */
    border: 3px solid blue;
    border-radius: 25px;
    font-size: var(--font-personalizado);
    padding: 5px;
}

/*Lista de PSEUDO CLASES
    :active (cuando se le da click)
    :focus (cuando se selecciona)
    :hover (cuando el mouse pasa por encima)
    :visited (cuando ya es visitado)
    :link (cuando no se ha visitado)
    :first-child (primer hijo)
    :last-child (ultimo hijo)
*/

/*Que son las PSEUDO CLASES*/
#contacto:hover{
    background-color: var(--color-principal);
    color:var(--color-secundario);
    /*transition: propiedad tiempo efecto;*/
    transition: background-color 0.5s, color 0.5s;
}